<div class="box-404">
    <h1><strong>Page Not Found</strong></h1>
    <h3>The requested page does not exist.</h3>
    <br>
    <h3>Please return to the home page by clicking the button below.</h3>
    <br>
    <a href="/" class="btn btn-outline-dark btn-lg">Home</a>
</div>
=======
<div class="container">
  {{error}}
</div>
