<!-- CONTACT SECTION -->

<section id="contact" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-4 bg-outline-light">
                    <div class="card-body">
                        <h4>Contact Us</h4>
                        <p>Please feel free to contact us any time, day or night.</p>
                        <h4>Address</h4>
                        <p>339 E Chicago Ave, Chicago Il, 60611</p>
                        <h4>Email</h4>
                        <p>contact@kingofthe.com</p>
                        <h4>Phone</h4>
                        <p>(312) 867-5309</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card p-4 bg-secondary">
                    <div class="card-body">
                        <h3 class="text-center text-white">Drop us a message and we'll get in touch</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Phone Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>