<!-- HEADER -->
<header id="main-header" class="py-2 bg-primary text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><i class="fas fa-cog"></i>Create Player Profile</h1>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card bg-primary text-center card-form pt-100">
        <div class="card-body">
          <h3><strong>Create/Update User Profile</strong></h3>
          <form id="editProfile">
            <div class="form-group">
              <label for="about">About You (255 characters or less):</label>
              <textarea class="form-control" id="about" rows="3" maxlength="255"></textarea>
              <span id="chars" "font-weight-lighter" class="charsCount"></span>255 <span class="charsCount">characters
                remaining.</span>
            </div>
            <div class="form-group">
              <label for="birthdate">Birthdate:</label>
              <input class="form-control" id="birthdate" name="date" placeholder="MM/DD/YYYY" type="text" required />
            </div>
            <div class="form-group">
              <label for="city">City:</label>
              <input type="text" class="form-control form-control-lg" id="city" placeholder="Chicago" required>
            </div>
            <div class="form-group">
              <label for="state">State:</label>
              <input type="text" class="form-control from-control-lg" id="state" placeholder="IL" required>
            </div>
            <div class="form-group">
              <label for="favoriteSport">What Is Your Favorite Sport?</label>
              <input type="text" class="form-control from-control-lg" id="favoriteSport" required>
            </div>
            <div class="form-group">
              <label for="favoriteTeam">What Is Your Favorite Sports Team?</label>
              <input type="text" class="form-control from-control-lg" id="favoriteTeam" required>
            </div>
            <div class="form-group">
              <label for="facebookURL">Facebook Profile</label>
              <input type="text" class="form-control from-control-lg" id="facebookURL" placeholder="https://www.facebook.com/facebookusername">
            </div>
            <div class="form-group">
              <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
            </div>
          </form>
        </div>
      </div>
    </div>