<!-- CAROUSEL -->

<section id="showcase">
    <div id="carouselHeader" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselHeader" data-slide-to="0" class="active"></li>
            <li data-target="#carouselHeader" data-slide-to="1"></li>
            <li data-target="#carouselHeader" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <div class="container">

                    <div class="carousel-caption d-none d-sm-block text-right mb-5">
                        <h1 class="display-3">Volleyball League</h1>
                        <p class="lead">OPEN AVAILABILITY! Join now to submit your team to this league. Season starts soon!
                        </p>
                        <a href="/signup" class="btn btn-danger btn-lg">Sign Up Now!</a>

                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-2">
                <div class="container">
                    <div class="carousel-caption d-none d-sm-block mb-5">
                        <h1 class="display-3">Basketball 3's</h1>

                        <p class="lead">Seasons all over the Northside starting this month</p>

                        <a href="#" class="btn btn-primary btn-lg">Sign up</a>
                    </div>
                </div>
            </div>

            <div class="carousel-item carousel-image-3">
                <div class="container">

                    <div class="carousel-caption d-none d-sm-block text-left mb-5">
                        <h1 class="display-3">Softball at Lincoln Park</h1>
                        <p class="lead">Co-ed and Competitive Leagues Underway</p>
                        <a href="#" class="btn btn-success btn-lg">Learn More</a>

                    </div>
                </div>
            </div>
        </div>


        <a href="#carouselHeader" data-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#carouselHeader" data-slide="next" class="carousel-control-next">

            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>

<!-- HOME ICON SECTION -->

<section id="home-icons" class="py-5">
    <div class="container">
        
         
        <div class="row">
            <div class="col-md-4 mb-4 text-center">

                <i class="fas fa-volleyball-ball fa-3x mb-2" style="color: #ff0000"></i>
                <h3>Co-Ed Volleyball</h3>
                <p>All skill levels welcome in this summer's biggest tournament</p>

            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-bowling-ball fa-3x mb-2" style="color: #000"></i>
                <h3>Bowling Leagues</h3>

                <p>Weekday 12 week seasons all winter and spring</p>

            </div>
            <div class="col-md-4 mb-4 text-center">
                <i class="fas fa-futbol fa-3x mb-2" style="color: #0000cc"></i>
                <h3>Soccer</h3>

                <p>Sponsored weekend tournaments for competitive play</p>

            </div>
        </div>
    </div>
</section>

<!-- HOME HEADING SECTION -->

<section id="home-heading" class="p-5">
    <div class="dark-overlay">
        <div class="row">
            <div class="col">
                <div class="container pt-5">
                    <h1>Don't see your sport?</h1>

                    <p class="d-none d-md-block">Sign up as a sponsor and host a tournament near you. Teams are looking to get out there and show they're the best!</p>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- INFO SECTION -->

<section id="info" class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3>Restaurant or Bar looking to Sponsor a Sport? </h3>

                <p>Hosting a tounrnament or sports season could have dozens of teams celebrating a win at your place!</p>
                <a href="about.html" class="btn btn-outline-danger btn-lg">Learn More</a>

            </div>
            <div class="col-md-6">
                <img src="img/equipment.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

{{#section 'script'}}

<script src="../public/js/index.js" type="text/javascript"></script>

{{/section}}