<!-- SHOWCASE -->

<section id="sponsorShowcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 d-none d-lg-block mt-5 pt-5">
                    <h1 class="display-4">Sponsor a League
                    </h1>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            <p>Advertise Your Business: Get your name out in the community</p>
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            <p>Support Local Sports Leagues</p>
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-4 align-self-end">
                            <p>Drive customers to your business</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="card bg-dark text-center card-form">
                        <div class="card-body">
                            <h3>Let us know you're interested</h3>
                            <p>Contact us if you'd like to submit your business as a league sponsor</p>
                            <form>
                                <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-user"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Your Name">
                                </div>
            
                                <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-store "></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Name of Business">
                                </div>
            
                                <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-envelope-open"></i>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
            
                                <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-pencil-alt"></i>
                                        </span>
                                    </div>
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                </div>
                                <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>