<h2>Sponsor Home Page</h2>
<h5>You are signed in!</h5><a href="/logout" class=class="btn btn-danger btn-sm">Sign Out</a>

<!-- SHOWCASE -->

<section id="showcase" class="py-5">
    <div class="primary-overlay text-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center">
                    <h1 class="display-2 mt-5 pt-5">
                        Sponsor a League
                    </h1>
                    <p class="lead">Season or Tournament getting dozens of locals to visit your spot starts here</p>
                </div>
                <div class="col-lg-6">
                    <img src="img/book.png" alt="" class="img-fluid d-none d-lg-block">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- CONTACT -->

<section id="contact" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h3>Let us know you're interested</h3>
                <p class="lead">Contact us if you'd like to submit your business as a league sponsor.</p>
                <form>
                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-user"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Name">
                    </div>

                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-store"></i>
                            </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Name of Business">
                    </div>

                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-envelope-open"></i>
                            </span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>

                    <div class="input-group input-group-lg mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fas fa-pencil-alt"></i>
                            </span>
                        </div>
                        <textarea class="form-control" placeholder="Message" rows="5"></textarea>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-block btn-lg">
                </form>
            </div>
        </div>
    </div>
</section>